NT-ContactsApp/NT_ContactsApp.Android/bin/*
NT-ContactsApp/NT_ContactsApp.Android/obj/*
NT-ContactsApp/NT_ContactsApp.iOS/obj/*
NT-ContactsApp/NT_ContactsApp.iOS/bin/*
NT-ContactsApp/NT_ContactsApp/bin/*
NT-ContactsApp/NT_ContactsApp/obj/*
packages/*
